.applicant-box
  .h2 Apply to be a Shopper!
  .h4 Earn money shopping and delivering groceries, giving customers more time to do what they love.
  .btn.alert-success= link_to 'Apply Now', new_applicant_path